<div class="header">
  <h2 class="text-center">
      <i  style="color: #FCDA00" class="fas fa-exclamation-triangle"></i>
    Serviço não disponível
  </h2>
</div>

<hr />

<div class="row">
  <div class="col-sm-12 col-md-6">
    <h4>HTTP Error 503.</h4>
    <p>
      Erro ao processar sua solicitação, isso pode ter ocorrido devido a uma
      sobrecarga do sistema ou uma manutenção temporária.
    </p>
    
  </div>
  <div class="col-sm-12 col-md-6">
    <h4>O que devo fazer?</h4>
    <p>
      Pedimos que tente novamente mais tarde. Caso o erro persista entre em contato 
      com nossa equipe pelo telefone: <strong>(00) 00000-0000</strong>. Ou através do e-mail: 
      <strong>email@foo.xyz</strong>
    </p>
  </div>

</div>