<nav class="navbar navbar-expand-lg navbar-dark bg-sky">
  <a class="navbar-brand" [routerLink]="['']"><img src="assets/logo.png" width="120px" alt=""></a>
  <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" [ngbCollapse]="isCollapsed">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/cat/tele-entrega']"><i class="fas fa-concierge-bell"></i> Tele Entrega</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/cat/saude-e-beleza']"><i class="fas fa-briefcase-medical"></i> Saúde e Beleza</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/cat/manutencao-e-limpeza']"><i class="fas fa-wrench"></i> Manutenção e Limpeza</a>
      </li>
    </ul>
    <form class="form-inline">
      <input class="form-control" type="search" placeholder="Pesquisar">
    </form>

  </div>
</nav>