<nav class="navbar navbar-expand-lg navbar-dark bg-sky">
  <a class="navbar-brand" [routerLink]="['']"><img src="assets/logo.png" width="120px" alt=""></a>
  <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" [ngbCollapse]="isCollapsed">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/cat/tele-entrega']"><i class="fas fa-concierge-bell"></i> Tele Entrega</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/cat/saude-e-beleza']"><i class="fas fa-briefcase-medical"></i> Saúde e Beleza</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/cat/manutencao-e-limpeza']"><i class="fas fa-wrench"></i> Manutenção e Limpeza</a>
      </li>
    </ul>
    <form class="form-inline">
      <input  type="text"
              class="form-control"
              placeholder="Pesquisar"
              #termoDaPesquisa
              (keyup)="pesquisar(termoDaPesquisa.value)"
              (focus)="pesquisar(termoDaPesquisa.value)"
              (focusout)="limparPesquisa()"
              >
      <div class="list-group resultados">
          <a
          class="list-group-item"
          *ngFor="let anuncio of anuncios | async" 
          [routerLink]="[ '/anuncio', anuncio.id]"
          (click)="termoDaPesquisa.value=null"
          >
          {{ anuncio.titulo  | resumido }}
        </a>
        <div class="list-group-item list-group-item-light" 
        *ngIf="( anuncios | async)?.length == 0 && showResult ">
          <span>
            Sem resultados para este termo.
          </span>
        </div>
      </div>
    </form>

  </div>
</nav>