/* ------------------------------- Style TOP ------------------------------- */

.bg-sky{
    background-color: #2A9FD6 !important;
  }


  nav ul li a {
    border-bottom: 1px solid  #2A9FD6;
  }

  nav ul li a:hover, nav ul li a:focus {
    border-bottom: 1px solid  rgba(255,255,255,.5);
  }


  input[type=text] {
  background-color: white;
  background-image: url('/assets/search.png');
  background-position: 95%;
  background-repeat: no-repeat;
  }

  input[type='text']:focus {
    background-image: none;
  }

  .resultados {
    z-index: 999;
  }


  @media (min-width: 992px) { 
    .form-inline, .form-control, .resultados {
      width: 300px;
  }
    .resultados {
      top: 52px;
      position: absolute;
    }
  }

  @media (max-width: 991px) {
    .form-inline, .form-control, .resultados {
      width: 100%;
    }
  }