/* ------------------------------ Style  HOME ------------------------------ */

    img.img-ads {
        border-radius: 5px;
        width: 320px;
        height: 200px;
        margin-bottom: 1em;
    }
