/* ----------------------------- Style TOP-NAV ----------------------------- */

.bg-sky{
    background-color: #2A9FD6 !important;
  }


  nav ul li a {
    border-bottom: 1px solid  #2A9FD6;
  }

  nav ul li a:hover, nav ul li a:focus {
    border-bottom: 1px solid  rgba(255,255,255,.5);
  }


  input[type=search] {
  background-color: white;
  background-image: url('/assets/search.png');
  background-position: 95%;
  background-repeat: no-repeat;
  }

  input[type='search']:focus {
    background-image: none;
  }

  @media (min-width: 576px) {
    .form-inline .form-control {
        width: 300px;
    }
  }