<ngb-tabset [activeId]="selectedTab" justify="justified" (tabChange)="changeTab($event)">
  <ngb-tab id="termos" title="Termos e condições de uso">
      <ng-template ngbTabContent>
        <div class="container-fluid pt-3">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sed sapien vitae tellus pharetra interdum 
            vitae vel ipsum. Aenean id diam tincidunt, viverra augue quis, tincidunt nibh. Morbi consectetur tortor eget 
            pellentesque posuere. Donec aliquam, nunc sit amet blandit fermentum, mauris dolor cursus massa, elementum
            hendrerit mi magna sit amet ex. Mauris euismod tincidunt eros ut dapibus. Sed dictum, sem eget porttitor 
            luctus, eros odio euismod lacus, nec pretium neque velit ut metus. Curabitur lacinia eros in magna auctor 
            blandit. Curabitur sagittis scelerisque erat, sit amet dignissim lacus cursus ac. Maecenas molestie lobortis 
            pellentesque. Interdum et malesuada fames ac ante ipsum primis in faucibus. Phasellus euismod leo ante, eget
            egestas purus interdum at. Interdum et malesuada fames ac ante ipsum primis in faucibus. Ut commodo dignissim
            quam, nec dictum velit. Aenean nisi purus, faucibus id mauris in, ornare vulputate libero. Nam tincidunt velit
            vel maximus suscipit.
          </p>
          <p>
            Sed commodo, leo at suscipit dictum, quam est porttitor sapien, eget sodales nibh elit id diam. Nulla facilisi. 
            Donec egestas ligula vitae odio interdum aliquet. Duis lectus turpis, luctus eget tincidunt eu, congue et odio. 
            Duis pharetra et nisl at faucibus. Quisque luctus pulvinar arcu, et molestie lectus ultrices et. Sed diam urna, 
            egestas ut ipsum vel, volutpat volutpat neque. Praesent fringilla tortor arcu. Vivamus faucibus nisl enim, nec 
            tristique ipsum euismod facilisis. Morbi ut bibendum est, eu tincidunt odio. Orci varius natoque penatibus et 
            magnis dis parturient montes, nascetur ridiculus mus. Mauris aliquet odio ac lorem aliquet ultricies in eget 
            neque. Phasellus nec tortor vel tellus pulvinar feugiat.
          </p>
          <p>
            Praesent maximus pharetra commodo. Curabitur in leo a ante commodo volutpat eu vel tellus. Cras molestie semper 
            convallis. Nullam scelerisque ipsum id ipsum rhoncus egestas. Nulla et vestibulum turpis. Sed placerat arcu 
            eget felis gravida auctor. Etiam ut facilisis tellus, non varius diam. Curabitur et odio auctor, pharetra diam 
            vitae, tristique lectus. Curabitur facilisis odio leo. Mauris sodales ante quis dapibus convallis. Interdum et 
            malesuada fames ac ante ipsum primis in faucibus. Donec ullamcorper metus massa, quis ultricies metus condimentum 
            nec.
          </p>
          <p>
            Maecenas efficitur risus quis sapien semper dictum. Nulla interdum elit vel erat auctor, eu vestibulum ligula 
            luctus. Phasellus sollicitudin dapibus felis, vel convallis nunc pretium vel. Proin facilisis quis leo a 
            tristique. Etiam condimentum mauris nec aliquet blandit. Donec rutrum iaculis pretium. Donec in vulputate sapien, 
            nec congue mi. Nam ultricies, ex vitae mollis rutrum, eros turpis tempus mi, vel aliquet orci nisl id odio. 
            Etiam non eros iaculis justo dapibus fringilla sit amet quis nunc. Orci varius natoque penatibus et magnis dis 
            parturient montes, nascetur ridiculus mus. Morbi volutpat id est nec tincidunt. Etiam eleifend purus leo, eu 
            tincidunt nisi scelerisque id. 
          </p>
      </div>
    </ng-template>
  </ngb-tab>

  <ngb-tab id="privacidade" title="Privacidade">
    <ng-template ngbTabContent>
      <div class="container-fluid pt-3">
        <p>
          Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table
          craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl
          cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar helvetica VHS salvia
          yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson 8-bit, sustainable jean
          shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester stumptown, tumblr butcher vero
          sint qui sapiente accusamus tattooed echo park.
        </p>
        <p>
          Integer et semper erat. Nulla fringilla ligula vel bibendum bibendum. Aenean auctor nibh sit amet cursus iaculis. 
          Nulla aliquet vestibulum ipsum bibendum aliquet. Quisque elementum ex aliquet gravida. Donec elit est, efficitur 
          at semper at, aliquam et enim. Mauris hendrerit interdum ante, ut dictum lacus pellentesque id. Nunc diam nulla, 
          faucibus vel elit vitae, blandit vulputate odio. Phasellus consectetur risus ac erat condimentum, sed facilisis dui 
          dignissim. Vivamus ut nisi fermentum, luctus urna tempus, semper risus. Cras egestas a tortor luctus. Cras euismod,
          tortor quis iaculis aliquet, felis libero malesuada mauris, sed maximus ipsum lacus et sapien. Donec sollicitudin 
          neque quis efficitur pellentesque. Cras ac justo id neque tincidunt efficitur vitae sit amet velit.
        </p>
        <p>
          Aenean vel dui laoreet, maximus massa at, imperdiet ante. Sed eget elit sapien. Pellentesque vel tellus leo luctus 
          scelerisque. Quisque lacinia elit eu nisl feugiat, id bibendum nulla feugiat. Proin sollicitudin hendrerit 
          ullamcorper. Nunc ut ornare ligula. Nulla egestas nec lacus in tristique. Sed feugiat sed velit in sollicitudin. 
          Praesent eget massa ut sem vestibulum iaculis nec sit amet mi. Sed interdum in elit et sodales. Nunc scelerisque 
          fermentum lorem, non eleifend libero aliquet vel. Morbi lacinia risus sit amet urna finibus, eu mattis lectus 
          scelerisque. 
        </p>
      </div>
    </ng-template>
  </ngb-tab>

  <ngb-tab id="sobre" title="Sobre">
    <ng-template ngbTabContent>
      <div class="container-fluid pt-3">
        <p>
          Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth
          master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh
          dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum
          iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.
        </p>
      </div>
    </ng-template>
  </ngb-tab>

</ngb-tabset>
