/* ----------------------------- Style ANUNCIO ----------------------------- */

.img-capa img {
    border-radius: 5px;
    width: 100%;
  }

  .thumbnails {
    margin-top: 1em;
  }

  .thumbnails img {
    border-radius: 5px;
    width: 84px;
    height: 60px;
    margin-right: 1em;
    margin-bottom: 1em;
  }

  @media (max-width: 360px){
    .thumbnails img {
      width: 44%;
      height: auto;
    }
  }

/* ------------------------------------------------------------------------- */